@import ../../styles/helpers
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap')


.wrap
    position: relative
    font-family: 'Poppins', sans-serif

    padding: 148px 0 80px
    background-color: $n3
    overflow: hidden
    +d
        padding: 100px 0 26px
    +t
        padding: 108px 0 40px
    +dark
        background-color: $n9